/* Pour mieux voir les images uploadées */
.dz-image-responsive {
  width: 100%;
}

/* Pour rendre une image responsives */
.img-resp {
  width: 100%;
  height: auto;
}

/* Pour rendre une image responsives seulement lorsqu'elle depase son conteneur */
.img-resp-max {
  max-width: 100%;
  height: auto;
}

main {
  min-height: calc(100vh - 269px);
}

.clear-margin {
  margin: 0px 0px 0px 0px!important;
}
