<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/semantic.min.js"></script>

<footer>
  <div class="ui blue segment">
    <div class="ui four column grid">
      <div class="column">
        <h3>Aller vers</h3>
        <div class="ui divided list">
          <div class="item">
            <i class="home icon" aria-hidden="true"></i>
            <div class="content">
              <a href="club.php">Le club</a>
            </div>
          </div>
          <div class="item">
            <i class="users icon" aria-hidden="true"></i>
            <div class="content">
              <a href="equipes.php">Les équipes</a>
            </div>
          </div>
          <div class="item">
            <i class="world icon" aria-hidden="true"></i>
            <div class="content">
              <a href="terrains.php">Les terrains</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h3>Divers</h3>
        <div class="ui divided list">
          <div class="item">
            <i class="newspaper icon" aria-hidden="true"></i>
            <div class="content">
              <a href="actualites.php">Les actualités</a>
            </div>
          </div>
          <div class="item">
            <i class="camera retro icon" aria-hidden="true"></i>
            <div class="content">
              <a href="gallerie.php">Les photos</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h3>Le site</h3>
        <div class="ui divided list">
          <div class="item">
            <i class="file text icon" aria-hidden="true"></i>
            <div class="content">
              <a href="mentions_legales.php">Les mentions légales</a>
            </div>
          </div>
          <div class="item">
            <i class="file text icon" aria-hidden="true"></i>
            <div class="content">
              <a href="charte.php">La charte de confidentialité</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h3>Contact</h3>
      </div>
    </div>
  </div>
  <div class="ui blue inverted segment grid clear-margin">
    <div class="two column row">
      <div class="center aligned column">© 2017, Digital Design, All rights reserved</div>
      <div class="center aligned column">Web Design & Development by Digital Design</div>
    </div>
  </div>
</footer>
