<!-- Footer -->
<footer class="footer1">
    <div class="container-fluid">
        <div class="row">

            <!-- COLONNE 1 FOOTER -->
            <div class="col-lg-3 col-md-6 col-xs-12">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                        <h1 class="title-widget">Aller vers</h1>
                        <ul>
                        	<li><a  href="/"><i class="fa fa-angle-double-right"></i> Accueil</a></li>
                        	<li><a  href="bureau.php"><i class="fa fa-angle-double-right"></i> Bureau</a></li>
                            <li><a  href="photos.php"><i class="fa fa-angle-double-right"></i> Photos</a></li>
                            <li><a  href="partenaire.php"><i class="fa fa-angle-double-right"></i> Nos partenaires</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- COLONNE 2 FOOTER -->
            <div class="col-lg-3 col-md-6 col-xs-12">
                <ul class="list-unstyled clear-margins">
                	<li class="widget-container widget_nav_menu">
                        <h1 class="title-widget">Divers</h1>
                        <ul>
 							<li><a  href="news.php"><i class="fa fa-angle-double-right"></i>  Actualités</a></li>
                            <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Agenda</a></li>
                            <li><a  href="boutique.php"><i class="fa fa-angle-double-right"></i>  Boutique</a></li>
                        </ul>
            		</li>
                </ul>
            </div>

            <!-- COLONNE 3 FOOTER -->
            <div class="col-lg-3 col-md-6 col-xs-12">
                <ul class="list-unstyled clear-margins">
                	<li class="widget-container widget_nav_menu">
                        <h1 class="title-widget">Le site</h1>
                            <ul>
                                <li><a href="mentions_legales.php"><i class="fa fa-angle-double-right"></i> Mentions légales</a></li>
 			                	<li><a href="charte.php"><i class="fa fa-angle-double-right"></i> Charte de confidentialité</a></li>
			                   	<li><a href="terrain.php"><i class="fa fa-angle-double-right"></i> Terrains</a></li>
                            </ul>
    				</li>
                </ul>
            </div>

            <!-- COLONNE 4 FOOTER -->
            <div class="col-lg-3 col-md-6 col-xs-12">
                <ul class="list-unstyled clear-margins">
                	<li class="widget-container widget_recent_news widget_nav_menu">
                        <h1 class="title-widget">Nous contacter</h1>
                        <div class="footerp">
                            <ul>
			                   	<li><a href="contact.php"><i class="fa fa-angle-double-right"></i> Contact</a></li>
                            </ul>
                            <p><b>Email :</b> <a href="mailto:adressmail">esl@gmail.com</a></p>
                            <p><b>Telephone :</b> 06 74 39 32 13  </p>
                            <p><b>Adresse Postale :</b></br>45 rue Maurice Ravel 29200 BREST</p>
                        </div>
                        <div class="social-icons">
                        	<ul class="nomargin">
                                <a href="https://www.facebook.com/www.eslfoot.org/"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                <a href="mailto:esl@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                            </ul>
                        </div>
                	</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
